<a href="https://colab.research.google.com/github/altiparmakzeynep/sentiment-analysis-nlp/blob/main/sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [73]:
import pandas as pd
import nltk

In [74]:
df = pd.read_csv("Tweets.csv")

In [75]:
review_df = df[['text', 'airline_sentiment']]

In [76]:
review_df.shape

(14640, 2)

In [77]:
review_df.head()

                                                text airline_sentiment
0                @VirginAmerica What @dhepburn said.           neutral
1  @VirginAmerica plus you've added commercials t...          positive
2  @VirginAmerica I didn't today... Must mean I n...           neutral
3  @VirginAmerica it's really aggressive to blast...          negative
4  @VirginAmerica and it's a really big bad thing...          negative

In [78]:
review_df["airline_sentiment"].value_counts()

negative    9178
neutral     3099
positive    2363
Name: airline_sentiment, dtype: int64

In [79]:
sentiment_label = review_df.airline_sentiment.factorize()
sentiment_label

(array([0, 1, 0, ..., 0, 2, 0]),
 Index(['neutral', 'positive', 'negative'], dtype='object'))

In [80]:
tweets = review_df.text.values
tweets

array(['@VirginAmerica What @dhepburn said.',
       "@VirginAmerica plus you've added commercials to the experience... tacky.",
       "@VirginAmerica I didn't today... Must mean I need to take another trip!",
       ...,
       '@AmericanAir Please bring American Airlines to #BlackBerry10',
       "@AmericanAir you have my money, you change my flight, and don't answer your phones! Any other suggestions so I can make my commitment??",
       '@AmericanAir we have 8 ppl so we need 2 know how many seats are on the next flight. Plz put us on standby for 4 people on the next flight?'],
      dtype=object)

In [81]:
import re

In [82]:
def deleteTags(string):
  pattern = r'@[A-Za-z]+'
  # Replace all occurrences of character s with an empty string
  mod_string = re.sub(pattern, '', string)
  return mod_string

In [83]:
def deleteHastags(string):
  pattern = r'#[A-Za-z]+'
  mod_string = re.sub(pattern, '', string)
  return mod_string

In [84]:
def deleteWS(string):
  pattern = r'  +'
  mod_string = re.sub(pattern, ' ', string)
  return mod_string

In [85]:
def deleteSpace(string):
  pattern = r'^ '
  mod_string = re.sub(pattern, '', string)
  return mod_string

In [86]:
def deleteNumbers(string):
  pattern = r'[0-9]'
  mod_string = re.sub(pattern, '', string)
  return mod_string

In [87]:
def deleteSymbols(string):
  pattern = r'[^a-zA-Z !.]'
  mod_string = re.sub(pattern, '', string)
  return mod_string

In [88]:
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [89]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
  
def removeStopWords(s):

    stop_words = set(stopwords.words('english'))

    word_tokens = word_tokenize(s)

    filtered_sentence = []

    for w in word_tokens:
        if w not in stop_words:
            filtered_sentence.append(w)

    return filtered_sentence

In [90]:
for i in range(0, len(tweets)):
  tweets[i] = deleteSpace(tweets[i])
  tweets[i] = deleteTags(tweets[i])
  tweets[i] = deleteHastags(tweets[i])
  tweets[i] = deleteWS(tweets[i])
  tweets[i] = deleteNumbers(tweets[i])
  tweets[i] = deleteSymbols(tweets[i])
  tweets[i] = removeStopWords(tweets[i])

In [91]:
tweets

array([list(['What', 'said', '.']),
       list(['plus', 'youve', 'added', 'commercials', 'experience', '...', 'tacky', '.']),
       list(['I', 'didnt', 'today', '...', 'Must', 'mean', 'I', 'need', 'take', 'another', 'trip', '!']),
       ..., list(['Please', 'bring', 'American', 'Airlines']),
       list(['money', 'change', 'flight', 'dont', 'answer', 'phones', '!', 'Any', 'suggestions', 'I', 'make', 'commitment']),
       list(['ppl', 'need', 'know', 'many', 'seats', 'next', 'flight', '.', 'Plz', 'put', 'us', 'standby', 'people', 'next', 'flight'])],
      dtype=object)